<div class="chat page">
  <div class="chatArea">
    <ul class="messages">
      <li ng-repeat="message in $ctrl.messages">
        {{message.username}} => :{{message.message}}
      </li>
    </ul>
  </div>
  <form ng-submit="$ctrl.sendMessage()">
    <input class="inputMessage" ng-model="message" placeholder="Type here..."/>
  </form>
  <ul>
    <li ng-click="$ctrl.testClick(user)" ng-repeat="user in $ctrl.userList">
      {{user.name}}
    </li>
  </ul>
</div>
